body {
	margin: 0;
	padding: 0;
}

.Image-Container {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

.Image-Container img {
	border-radius: 5%;          /* Gör så att bilderna får en rundare kant */
}

.imageContent1,
.imageContent2,
.imageContent3 {
	transition: 500ms;  
}

.imageContent1:hover,
.imageContent2:hover,
.imageContent3:hover {
	transform: scale(1.03);
}

.imgText {
	text-align: left;
	margin: 1rem;
}

@media screen and (max-width: 769px) {
	.part2 {
		flex-direction: column;
		align-items: center;
	}

	figcaption {
		text-align: center;
	}
}
